@model ministryofjusticeWebUi.Models.CommentViewModel

<div>
    <div class="comment-text w-100">
        <h5></h5>
        <div class="comment-footer">  </div>
        <p class="mb-2">@Model.CommentMessage</p>
    </div>
    <hr class="w-100" />
</div>
