@{
    ViewBag.Title = "Reset link sent!";
    Layout = "/Views/Shared/_AuthLayout.cshtml";
}



<div class="col-lg-5 col-md-7 col-sm-10 col-12 mt-5 border-top-primary border-2">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">@ViewBag.Title</h1>
                    <hr />
                    <svg id="Capa_1" enable-background="new 0 0 511.995 511.995" height="100" viewBox="0 0 511.995 511.995" width="100" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <g>
                                <path d="m486.244 177.325-195.833-157.693c-20.09-16.177-48.736-16.177-68.826 0l-195.833 157.693v273.155c0 29.832 24.183 54.015 54.015 54.015h352.462c29.832 0 54.015-24.183 54.015-54.015z" fill="#d6f6b2" />
                                <path d="m122.288 504.495h-42.53c-29.83 0-54.01-24.18-54.01-54.01v-273.16h42.53v273.16c0 29.83 24.18 54.01 54.01 54.01z" fill="#b3e59f" />
                                <path d="m486.241 177.323-53.073 42.739-142.757 114.952c-20.09 16.182-48.741 16.182-68.831 0l-142.758-114.953-53.073-42.739 195.83-157.691c20.09-16.182 48.741-16.182 68.831 0z" fill="#b3e59f" />
                                <g><path d="m433.171 127.83v92.232l-142.758 114.953c-20.09 16.182-48.741 16.182-68.832 0l-142.757-114.952v-150.864c0-18.306 14.841-33.147 33.147-33.147h229.421z" fill="#f8f6f9" /><g fill="#dddaec"><path d="m433.171 180.604v39.459l-142.758 114.952c-20.09 16.182-48.741 16.182-68.831 0l-142.758-114.952v-39.459l142.758 114.953c20.09 16.182 48.741 16.182 68.831 0z" /><path d="m433.169 127.832h-58.637c-18.304 0-33.145-14.841-33.145-33.145v-58.636" /></g></g>
                                <g><path d="m338.636 156.917c3.206-6.461.566-14.291-5.895-17.496l-20.216-10.014c-6.461-3.206-14.291-.566-17.496 5.895l-40.005 80.714-19.481-32.581c-3.702-6.193-11.711-8.207-17.903-4.506l-19.363 11.571c-6.183 3.702-8.207 11.711-4.506 17.903l38.387 64.21c2.451 4.099 6.947 6.54 11.711 6.352l27.212-1.072c4.774-.189 9.061-2.967 11.175-7.245z" fill="#95d6a4" /></g>
                            </g>
                            <g>
                                <path d="m490.952 171.483-50.284-40.489v-3.159c0-1.989-.79-3.897-2.196-5.303l-91.78-91.78c-1.407-1.407-3.314-2.197-5.304-2.197h-27.945l-18.33-14.761c-11.045-8.895-24.937-13.794-39.115-13.794s-28.07 4.899-39.114 13.794l-18.33 14.761h-51.586c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h186.92v51.132c0 22.412 18.233 40.645 40.645 40.645h51.136v81.142l-139.96 112.701c-17.217 13.866-42.207 13.866-59.424-.001l-139.958-112.7v-147.279c0-14.138 11.502-25.64 25.64-25.64h5c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-5c-22.409 0-40.64 18.231-40.64 40.64v61.799l-50.284 40.489c-1.768 1.424-2.796 3.572-2.796 5.842v273.16c0 33.917 27.598 61.51 61.52 61.51h255.461c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-255.461c-25.651 0-46.52-20.864-46.52-46.51v-257.495l183.63 147.867c11.045 8.896 24.938 13.795 39.12 13.795s28.075-4.899 39.12-13.794l183.63-147.868v257.496c0 25.646-20.868 46.51-46.52 46.51h-67c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h67c33.922 0 61.52-27.593 61.52-61.51v-273.16c.001-2.271-1.028-4.419-2.795-5.843zm-419.624 32.912-33.619-27.072 33.619-27.07zm154.964-178.918c17.213-13.863 42.199-13.863 59.412 0l3.823 3.079h-67.058zm122.595 69.21v-40.525l66.17 66.17h-40.526c-14.14 0-25.644-11.504-25.644-25.645zm91.78 55.566 33.619 27.07-33.619 27.072z" />
                                <path d="m374.215 463.525c2.192 0 4.365-.957 5.847-2.796 2.598-3.227 2.088-7.948-1.138-10.546l-71.521-57.592c-3.228-2.6-7.949-2.089-10.546 1.137-2.598 3.227-2.088 7.948 1.138 10.545l71.521 57.592c1.387 1.118 3.048 1.66 4.699 1.66z" />
                                <path d="m204.592 392.591-71.521 57.592c-3.226 2.598-3.735 7.319-1.138 10.546 1.482 1.84 3.654 2.796 5.847 2.796 1.65 0 3.312-.543 4.699-1.659l71.521-57.592c3.226-2.598 3.735-7.319 1.138-10.545-2.598-3.226-7.318-3.737-10.546-1.138z" />
                                <path d="m243.35 286.476c.271 0 .543-.005.814-.016l27.213-1.072c7.525-.297 14.271-4.672 17.599-11.408l56.378-113.729c2.441-4.919 2.82-10.495 1.067-15.698-1.753-5.201-5.428-9.41-10.351-11.853l-20.212-10.012c-10.149-5.036-22.511-.875-27.55 9.283l-33.901 68.399-12.427-20.784c-5.815-9.728-18.461-12.91-28.188-7.096l-19.367 11.575c-9.722 5.82-12.902 18.464-7.091 28.187l38.388 64.211c3.726 6.229 10.424 10.013 17.628 10.013zm-41.225-89.538 19.363-11.572c.891-.533 1.871-.786 2.841-.786 1.892 0 3.737.965 4.776 2.703l19.48 32.581c1.408 2.356 4.012 3.751 6.732 3.646 2.742-.108 5.206-1.705 6.425-4.164l40.004-80.71c1.361-2.746 4.702-3.872 7.449-2.508l20.211 10.011c1.331.661 2.325 1.798 2.799 3.205.474 1.405.371 2.91-.288 4.239-.001.001-.001.002-.002.003l-56.384 113.741c-.897 1.815-2.716 2.993-4.746 3.073l-27.214 1.072c-2.01.084-3.932-.958-4.977-2.706l-38.387-64.209c-1.568-2.629-.707-6.047 1.918-7.619z" />
                            </g>
                        </g>
                    </svg>
                </div>
                <p class="text-center mt-4">
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>