@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "/Views/Shared/_AuthLayout.cshtml";
}

<div class="col-lg-5 col-md-7 col-sm-10 col-12 mt-5 border-top-primary border-2">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">@ViewBag.Title</h1>
                    <hr />
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 367.805 367.805" width="50" height="50">
                        <path d="M183.903.001c101.566 0 183.902 82.336 183.902 183.902s-82.336 183.902-183.902 183.902S.001 285.469.001 183.903C-.288 82.625 81.579.29 182.856.001h1.047z" fill="#3bb54a" />
                        <path fill="#d4e1f4" d="M285.78 133.225L155.168 263.837l-73.143-72.62 29.78-29.257 43.363 42.841 100.833-100.833z" />
                    </svg>
                </div>
                <p class="text-center mt-4">
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>