
@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="container">
    <div class="card mb-4 col-md-8 col-lg-7 mx-auto">
        <div class="card-body">
            <h2 class="text-center">
                <span class="page-header-icon">
                    File Not Found
                </span>
            </h2>
            <p class="text-center">Please close the tab to continue</p>


        </div>
    </div>
</div>
