@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary">
    <div class="container">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <span class="page-header-icon"><i data-feather="alert-circle"></i></span>
                        All Notifications
                    </h1>
                    <div class="page-header-subtitle">All latest notification.</div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container mt-n3">
    @RenderBody()
</div>